# the goal with this is to ignore all executables which i always create starting with a dot
.**

# but gitignore and .vscode should not be ignored
!.gitignore
!.vscode

test.c

# ignore generics 
G*/

*gen.c

__pycache__